# Project exclude paths
/Hive.Api/node_modules/
/.idea
**/*/.DS_Store
/.vs/
/Hive.Domain/obj/
/Hive.Domain/bin/
/Hive.Api/obj/
/Hive.Api/wwwroot/
/Hive.Api/.cache/
/Hive.Api/scripts/dist/*
/Hive.Api/.parcel-cache/*
/Hive.Api/dist/*
/Hive.Api/scripts/src/**/*.map
/Hive.Api/scripts/src/**/*.js
/Hive.Api/bin/