# Project exclude paths
**/node_modules
**/obj
**/bin
**/.cache/
**/.idea
**/.vs
**/.DS_Store
/Hive.Api/wwwroot/**
/Hive.Api/scripts/dist/**
/Hive.FrontEnd/dist
/Hive.FrontEnd/src/js/coverage/
/Hive.FrontEnd/src/js/__tests__/coverage/
