body {
  --focus: #1712A2A0;
  --p0background: #FFEE0B;
  --p0creature: #000000;
  --p0outline0: #D2116A7d;
  --p1background: #000000;
  --p1creature: #FFEE0B;
  --p1outline: #8A2BE27d;
  --hex-offset: -1;
  --hex-size: 95px;
  --tile-size: 70px;
  margin: 0;
  overscroll-behavior-y: contain;
  height: 100vh;
  background: #4c4c4c;
}

body > svg {
  display: none;
}

@media only screen and (max-width: 720px) {
  body {
    filter: brightness(1.1);
    /*noinspection CssInvalidPropertyValue*/
    max-height: -webkit-fill-available;
    margin: 0;
    --hex-size: 60px;
    --tile-size: 45px;
  }
}
