body {
    margin: 0;
}

.hive {
    display: inline-grid;
    grid-template-columns: calc(var(--hex-size) * 1.7) calc(var(--hex-size) * 1.7) auto;
    grid-column-gap: .1vw;
    grid-row-gap: .1vh;
    height: 100vh;
    width: 100vw;
    --margin: calc(var(--hex-size) / 12.5);
    --tile-size: calc(var(--hex-size) * .7);
    --hex-offset: -1;
    user-select: none;
    --hex-size: 50px;
}

.players {
    display: contents;
    border-radius: .1rem;
}

.player {
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content auto;
}

.player .tiles {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 2vh 0;
    flex-direction: column;
    overflow-y: auto;
}

.player .name {
    background-color: var(--color);
    text-align: center;
    justify-content: center;
    color: white;
    margin: 2vh 0;
    font-weight: bold;
    font-size: 1.5em;
}

.hex-container {
    display: grid;
    background: #1A1A1D;
    align-items: center;
    overflow: auto;
}

.hextille {
    display: flex;
    border-radius: .05rem;
    flex-direction: column;
    margin: 0 auto;
}

.hex-row {
    display: flex;
    flex-direction: row
}

.left > .hex-row:nth-child(even), .right .hex-row:nth-child(odd) {
    margin-right: calc(1.8 * var(--hex-size) / 2);
}

.right > .hex-row:nth-child(even), .left > .hex-row:nth-child(odd) {
    margin-left: calc(1.8 * var(--hex-size) / 2);
}

.hex {
    --width: calc(1.732 * var(--size));
    --color: rgba(0, 0, 0, 0.2);
    width: var(--width);
    height: var(--size);
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: var(--color);
    min-width: fit-content;
    min-height: fit-content;
}

.hidden {
    width: calc(1.732 * var(--hex-size) + var(--margin));
    background: none;
}

.cell {
    --size: var(--hex-size);
    margin: calc(((var(--size) / 2) + var(--margin)) / 2) calc(var(--margin) / 2);
}

.hex:before, .hex:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
}

.hex:before, .hex:after {
    border-width: 0 calc(var(--width) / 2) 0;
}

.hex:before {
    border-bottom: calc(var(--size) / 2) solid var(--color);
    top: calc(var(--size) / -2);
}

.hex:after {
    border-top: calc(var(--size) / 2) solid var(--color);
    bottom: calc(var(--size) / -2);
}

.tile {
    --size: var(--tile-size);
    z-index: 10;
    font-size: var(--tile-size);
}

.player .tile {
    margin: calc(var(--size) / 2 + var(--margin)) var(--margin);
}

.tile[draggable="false"] {
    opacity: 30%;
}

.tile span {
    font-size: 50%;
}

.tile svg {
    height: calc(1.1 * var(--hex-size));
    width: calc(1.1 * var(--hex-size));
    z-index: 10;
    overflow: visible;
    pointer-events: none;
}

.cell > .tile {
    margin: 0;
}

.tile[draggable="true"]:hover {
    box-shadow: 0 -5px 2rem 5px #1a1a1dcc, 0 5px 2rem 5px #1a1a1dcc, 0 0 1rem #1a1a1dcc;
    transition: all .1s ease-in;
}

.hex.can-drop {
    --color: rgba(175, 210, 117, 0.2);
}

.hex.can-drop.active {
    --color: #AFD275;
}

.hex.active {
    --color: #5D001E;
}

div.svg {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 720px) {
    body {
        margin: 0;
    }

    .player .name {
        margin: 0;
        align-self: center;
        justify-content: center;
    }

    .hive {
        --hex-size: 40px;
        grid-template-columns: unset;
        grid-template-rows: calc(var(--hex-size) * 1.7) calc(var(--hex-size) * 1.7) auto;
    }

    .players {
        border-radius: 0;
        position: sticky;
        top: 0;
    }

    .player {
        grid-auto-flow: column;
        grid-template-columns: max-content auto;
        grid-template-rows: unset;
    }

    .player .tiles {
        display: inline-grid;
        grid-auto-flow: column;
        overflow: auto hidden;
        padding: 0 2vw;
    }

    .hex-container {
        overflow: auto;
    }

    .hextille {
        border-radius: 0;
        padding: 5vh;
    }

    .hex.can-drop {
        --color: #AFD275;
    }
}


.jiggle {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
}
