body {
  --color1: rgb(255, 238, 11);
  --color2: black;
  --focus: #1712A2A0;
  --margin: 2px;
  --outline1: #D2116AA0;
  --outline2: #8A2BE2A0;
  margin: 0;
  --hex-offset: -1;
  --hex-size: 90px;
  --tile-size: calc(var(--hex-size) * 0.7);
}

body > svg {
  display: none;

}

.hive {
  display: inline-grid;
  grid-template-columns: max-content max-content auto;
  height: 100vh;
  user-select: none;
  width: 100vw;
}

.players {
  border-radius: 0.1rem;
  display: contents;
}

.player {
  background-color: rgba(0, 0, 0, 0.7);
  border-right: 1px solid white;
  display: inline-grid;
  grid-auto-flow: row;
  grid-template-rows: max-content auto;
  padding: 0 1vw;
  transition: 1s ease-in;
  transition-property: width, height;
}

.player.hiding {
  padding: 0;
  width: calc(var(--tile-size));
}

.player.hide {
  border-right-width: 0;
  width: 0;
}

.player1.tileContainer {
  --outline: var(--outline2);
  fill: var(--color1);
}

.player1 .tile {
  --color: var(--color2);
  fill: var(--color1);
}

.player0.tileContainer {
  --outline: var(--outline1);
  fill: var(--color2);
}

.player0 .tile {
  --color: var(--color1);
  fill: var(--color2);
}

.name:focus {
  text-decoration-color: var(--color1);
}

.player .name {
  background-color: var(--color);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
  margin: 2vh 0;
  outline: none;
  text-align: center;
}

.player .tileContainer {
  --focus: #1A1A1DCC;
  margin: var(--margin);
}

.player .tiles {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vh 0 0;
  transition: all 0.1s ease-in;
}

.hex-container {
  align-items: center;
  background: #1A1A1D;
  display: grid;
  overflow: auto;
}

.hextille {
  --focus: #1712A290;
  border-radius: 0.05rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.hex-row {
  display: flex;
  flex-direction: row;
  margin: calc(var(--hex-size) / -7) 0;
}

.left > .hex-row:nth-child(even),
.right .hex-row:nth-child(odd) {
  margin-right: calc(var(--hex-size) / 2);
}

.right > .hex-row:nth-child(even),
.left > .hex-row:nth-child(odd) {
  margin-left: calc(var(--hex-size) / 2);
}

.hex {
  --color: rgba(0, 0, 0, 0.2);
  --width: calc(var(--size));
  align-items: center;
  background: linear-gradient(150deg, transparent 35%, var(--color) 0%) 0% 0%/50% 50%,
  linear-gradient(330deg, transparent 35%, var(--color) 0%) 100% 101%/50% 50%,
  linear-gradient(210deg, var(--color) 65%, transparent 0%) 0% 101%/50% 50%,
  linear-gradient(30deg, var(--color) 65%, transparent 0%) 100% 0%/50% 50%;
  background-repeat: no-repeat;
  display: inline-flex;
  height: calc(var(--size) * 1.12);
  justify-content: center;
  min-height: fit-content;
  min-width: fit-content;
  outline: none;
  position: relative;
  transition: all 0.2s ease-in;
  width: calc(var(--width));  margin: var(--margin);

}

.hidden {
  --size: var(--hex-size);
  background: transparent;
  margin: var(--margin);
}

.cell {
  --size: var(--hex-size);
}
.cell .tile {
  margin:0;
}
.cell.active {
  --color: #5D001E;
  --focus: transparent;
  transition-duration: 0.1s;
}

.cell.can-drop {
  --color: rgba(175, 210, 117, 0.2);
}

.cell.can-drop.active,
.cell.can-drop:focus {
  --color: #AFD275;
}


.tile {
  --size: var(--tile-size);
}

.tile svg {
  height: 70%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 70%;
}

.tileContainer {
  margin: 0;
  outline: none;
  display: flex;
}

.cell.can-drop:hover .tileContainer,
.cell.can-drop:focus .tileContainer {
  opacity: 100%;
}

.tileContainer[draggable='false'] {
  opacity: 30%;
}

.tileContainer.selected {
  animation: selected 0.2s infinite;
  transform: rotate(-3deg);
}

.tileContainer.selected:before {
  box-shadow: 0 -5px 2em 5px var(--outline), 0 5px 2em 5px var(--outline), 0 0 1em var(--outline);
  content: ' ';
  display: block;
  height: calc(var(--tile-size) * 0.65);
  left: 0;
  margin: calc(var(--tile-size) / 4) calc(var(--tile-size) * 0.125 + var(--margin));
  outline: none;
  position: absolute;
  top: 0;
  transition: box-shadow 0.2s ease-in;
  width: calc(var(--tile-size) * 0.70);
}

[draggable='true']:not(.selected):hover:before,
[draggable='true']:not(.selected):focus:before {
  box-shadow: 0 -5px 2em 5px var(--focus), 0 5px 2em 5px var(--focus), 0 0 1em var(--focus);
  display: block;
}

.beforeDrag {
  box-shadow: none !important;
  display: none !important;
}

@keyframes selected {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@media only screen and (max-width: 720px) {
  body {
    margin: 0;
    --hex-size: 60px;
  }

  .hive {
    gap: 0;
    grid-template-columns: unset;
    grid-template-rows: max-content max-content auto;
  }

  .players {
    border-radius: 0;
    position: sticky;
    top: 0;
  }

  .player {
    border-right-width: 0;
    grid-auto-flow: column;
    grid-template-columns: max-content auto;
    grid-template-rows: unset;
  }

  .player.hiding {
    height: calc(var(--tile-size) + 10px);
    width: auto;
  }

  .player.hide {
    height: 0;
    width: auto;
  }

  .player .name {
    align-self: center;
    justify-content: center;
    margin: 0 2vw;
  }

  .player .tiles {
    border-left: 1px inset #7318b133;
    display: inline-grid;
    grid-auto-flow: column;
    overflow: auto hidden;
    padding: 1.5vh 2vw;
  }

  .hex-container {
    overflow: auto;
  }

  .hextille {
    border-radius: 0;
    padding: 5vh;
  }

  .cell.can-drop {
    --color: #AFD275;
  }

  .tileContainer.selected .shadow {
    box-shadow: 0 -5px 10px 5px var(--outline), 0 5px 10px 5px var(--outline);
  }
}
