.links {
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  position: absolute;
  right: 0;
  top: 0;
  gap: 20px;
  padding: 10px;
}

.links a {
  color: white;
  fill: white;
  font-size: 67px;
  text-decoration: none;
}

.links :hover {
  color: hotpink;
  fill: hotpink;
}

.links a:visited, .links a:active {
  color: white;
  text-decoration: none;
}

.links svg {
  width: 48px;
}

@media only screen and (max-width: 720px) {
  .links {
    top: calc(var(--tile-size) * 4);
    gap: 10px;
  }

  .links svg {
    width: 20px;
  }

  .links a {
    font-size: 48px;
  }
}


