.rules {
  --hex-size: max(56px, 10vmin);
  --tile-size: max(48px, 8vmin);
}

.rules [role='grid'] {
  max-width: 95vmax;
  padding: 1vmax;
}

.rules {
  border-radius: 5px;
  background-color: rgb(249 235 208);
  --shadow: #FF00E5A3;
}

.rules [role='row'] {
  z-index: unset;
  user-select: none;
  pointer-events: none;
}

.rules .correct {
  --result: #1CCB1C
}

.rules .incorrect {
  --result: red;
}

.rules [role='cell'] > svg:first-child {
  fill: var(--result);
}

.rules [role='cell'] {
  fill: white;
}

.rules [role='none'] {
  width: var(--hex-size);
}

.rules [role='cell'] span {
  font-size: 3vmin;
  color: var(--result);
}

.rules .tile.creature > span {
  width: 1.2em;
  text-align: center;
  opacity: 75%;
  background-color: black;
  clip-path: circle(40%);
}

.rules .correct .tile .creature {
  opacity: 30%;
}

.rules [role='cell'] {
  z-index: unset;
  fill: black;
}

.rules .beetle {
  --fill: #6726E3;
}

.rules .queen {
  --fill: orange;
}

.rules .grasshopper {
  --fill: #00D000;
}

.rules .spider {
  --fill: #FF0000;
}

.rules .ant {
  --fill: cyan;
}

.rules .creature {
  --creature: var(--fill);
}

.rules .tile.selected:before {
  --shadow: var(--fill);
}

.rules .tile {
  z-index: unset;
  fill: black;
}

.rules .tile:not(.creature) svg use:only-child {
  fill: white;
}

.rules .tile:not([draggable='true']) {
  opacity: 100%;
}

@media only screen and (max-width: 720px) {
  .rules {
    --hex-size: max(40px, 16vmin);
    --tile-size: max(36px, 13vmin);
  }
}

caption {
  margin: 4vmin;
  font-size: 2vmin;
}

.rules .blank {
  --tile-size: var(--hex-size);
}
