.tile {
  height: var(--tile-size);
  width: var(--tile-size);
}

.tile .creature {
  fill: var(--creature);
  pointer-events: none;
}

[role='cell'].can-drop .tile:not(.selected) {
  opacity: 100%;
}

.tile:not([draggable="true"]) {
  opacity: 30%;
}

.tile.selected {
  animation: selected 0.2s infinite;
  transform: rotate(-3deg);
}

.tile.selected:before,
[draggable='true']:not(.selected):hover:before,
[draggable='true']:not(.selected):focus:before {
  box-shadow: 0 calc(var(--tile-size) / -4) calc(var(--tile-size) / 3) .5vh var(--shadow), 0 calc(var(--tile-size) / 4) calc(var(--tile-size) / 3) .5vh var(--shadow), 0 0 calc(var(--tile-size) / 3) .5vw var(--shadow);  
  content: ' ';
  display: block;
  height: 50%;
  left: 0;
  margin: 25% 5%;
  outline: none;
  position: absolute;
  top: 0;
  transition: box-shadow 0.2s ease-in;
  width: 90%;
}

.tile.selected:before {
  --shadow: var(--outline);
}

.beforeDrag:before {
  box-shadow: none !important;
  display: none !important;
}

[role='cell'] .tile {
  margin: 0;
}

@keyframes selected {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
