main {
  display: inline-grid;
  width: 100vw;
  height: 100%;
  user-select: none;
  grid-template-columns: max-content auto;
}

section {
  background: #232323;
  display: grid;
  overflow: auto;
  align-items: center;
  --shadow: var(--focus);
}

@media only screen and (width <= 720px) {
  main {
    gap: 0;
    grid-template-columns: unset;
    grid-template-rows: max-content auto;
  }
}
