[role='cell'] > *,
.tile > * {
  position: absolute;
}

[role='cell'] > svg {
  pointer-events: none;
}

[role='cell'] {
  height: var(--hex-size);
  width: var(--hex-size);
  transition-duration: 0.4s;
  transition-property: transform, margin;
  transition-timing-function: ease-in;
}

[role='cell'].hide,
[role='none'] {
  margin: 0;
  transform: scale(0);
}

[role='none'].historical > svg:first-child,
[role='cell'].historical > svg:first-child {
  fill: blue;
}

[role='cell'].no-drop.active,
[role='cell'].no-drop:focus,
[role='cell'].no-drop:hover {
  --focus: transparent;

  fill: #5d001e;
  transition-duration: 0.1s;
}

[role='cell'].can-drop {
  fill: #afd275;
  animation: pulse 3s infinite;
}

[role='cell'].can-drop.active,
[role='cell'].can-drop:hover,
[role='cell'].can-drop:focus {
  fill: #afd275;
  animation: none;
}

@media (any-hover: hover) {
  [role='cell'].can-drop {
    opacity: 0.2;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
    transition-timing-function: ease-in;
  }

  10% {
    opacity: 0.8;
    transition-timing-function: ease-in;
  }

  20% {
    opacity: 0.2;
    transition-timing-function: ease-in;
  }
}
