.player {
  display: inline-flex;
  flex-direction: column;
  width: calc(var(--tile-size) + 2vh);
  height: 100%;
  border-right: 1px solid white;
}

.player h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  justify-content: center;
  padding: 1vh 0 0;
  text-align: center;
  color: white;
  outline: none;
}

.player.hide h2 {
  transition-duration: 1s;
  transition-property: transform;
  transform: scaleX(0);
}

.player.hide {
  width: 0;
  transition-duration: 1s;
  transition-property: width, height, font-size;
  border: none;
}

.player.hidden{
    width:0;
}

.player .tile {
  margin: 0.4vh auto;
}


.player .tiles {
  display: inline-grid;
  overflow: hidden auto;
  padding: 2vh 0.5vw;
  transition: all 0.1s ease-in;
  grid-auto-flow: row;
  grid-template-rows: max-content;
}

.player .tiles::-webkit-scrollbar {
  width: 7px;
  height: 4px;
  border-bottom: 1px inset #7318b133;
  background-color: transparent;
}

.player .tiles::-webkit-scrollbar-thumb {
  transition-duration: 0.5s;
  transition-property: background-color;
  border-radius: 2px;
  background-color: #ffffff30;
}

.player .tiles::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

@media only screen and (width <= 720px) {
  .player {
    flex-direction: row;
    width: 100vw;
    height: calc(var(--tile-size) + 3vh);
    border-right-width: 0;
  }

  .player.hide {
    width: 100vw;
    height: 0;
  }

  .player h2 {
    align-self: center;
    justify-content: center;
    margin: 0 3vw;
  }

  .player.hide h2 {
    transition-duration: 1s;
    transition-property: transform;
    transform: scaleY(0);
  }

  .player .tile {
    margin: auto 0.4vh;
  }

  .player .tiles {
    display: inline-grid;
    overflow: auto hidden;
    padding: 1vh 3vw;
    border-left: 1px inset #7318b133;
    grid-auto-flow: column;
  }

  .player .tiles::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #fff;
  }
}
