.rules {
    --hex-size: max(56px, 10vmin);
    --tile-size: max(48px, 8vmin);
    --shadow: #FF00E5A3;
}

.rules > div {
    display: flex;
    flex-direction: column;
}

.rules [role='grid'] {
    margin: 1rem auto;
    max-width: 95vmax;
    padding: 1vmax;
}

.rules [role='row'] {
    pointer-events: none;
    user-select: none;
    z-index: unset;
}

.rules .correct {
    --result: #1CCB1C
}

.rules .incorrect {
    --result: red;
}

.rules [role='cell'] > svg:first-child {
    fill: var(--result);
}

.rules [role='none'] {
    width: var(--hex-size);
}

.rules [role='cell'] span {
    fill: white;
    color: var(--result);
    font-size: 1.5em;
}

.rules .tile.creature > span {
    background-color: black;
    clip-path: circle(40%);
    opacity: 0.75;
    text-align: center;
    width: 1.2em;
}

.rules [role='cell'] {
    fill: black;
    z-index: unset;
}

.rules .beetle {
    --fill: #6726E3;
}

.rules .queen {
    --fill: orange;
}

.rules .grasshopper {
    --fill: #00D000;
}

.rules .spider {
    --fill: #F00;
}

.rules .ant {
    --fill: cyan;
}

.rules .creature {
    --creature: var(--fill);
}

.rules .correct .tile .creature {
    opacity: 0.3;
}

.rules .tile.selected::before {
    --shadow: var(--fill);
}

.rules .tile {
    fill: black;
    z-index: unset;
}

.rules .tile:not(.creature) svg use:only-child {
    fill: white;
}

.rules .tile:not([draggable='true']) {
    opacity: 1;
}

@media only screen and (max-width: 720px) {
    .rules {
        --hex-size: max(40px, 16vmin);
        --tile-size: max(36px, 13vmin);
    }
}

.rules ul {
    font-size: 1em;
    list-style: none;
    margin: 4vmin;
    text-align: center;
}

.rules ul li::after,
.rules ul li::before {
    content: ' ⬢ ';
    margin: 0 1em;
}

.rules h3 {
    font-size: 1.5em;
    margin: 0 1.5rem;
    min-width: 20vw;
    text-align: center;
}

.rules .blank {
    --tile-size: var(--hex-size);
}

.rules .menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding: 1vmax;
}
