body {
    margin: 1px;
}

.hive {
    display: flex;
    height: 100%;
    min-height: 600px;
    --hex-size: var(--hex-size, 60px);
    --margin: calc(var(--hex-size) / 12.5);
    --tile-size: calc(var(--hex-size) * .7);
    --hex-offset: -1;
    user-select: none;
}

.players {
    display: flex;
    flex-direction: row;
    height: 99%;
    border-radius: 4px;
}

.player {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 1px;
    border-radius: 3px;
}

.player .name {
    display: block;
    background-color: var(--color);
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.player .tiles {
    margin: 3px;
}

.hextille {
    width: 100%;
    height: 99%;
    background: #1A1A1D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex-direction: column;
}

.hex-row {
    display: flex;
    flex-direction: row
}

.right > .hex-row:nth-child(even), .left > .hex-row:nth-child(odd) {
    margin-left: calc(1.8 * var(--hex-size) / 2);
}

.left > .hex-row:nth-child(even), .right > .hex-row:nth-child(odd) {
    margin-left: calc(1.8 * var(--hex-size) / -2);
}

.hex {
    --width: calc(1.732 * var(--size));
    --color: rgba(0, 0, 0, 0.2);
    width: var(--width);
    height: var(--size);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--color);
}

.hidden {
    width: calc(1.732 * var(--hex-size) + var(--margin));
    background: none;
}

.cell {
    --size: var(--hex-size);
    margin: calc((var(--size) / 2) + var(--margin)) 0 0 var(--margin);
}

.hex:before, .hex:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
}

.hex:before, .hex:after {
    border-width: 0 calc(var(--width) / 2) 0;
}

.hex:before {
    border-bottom: calc(var(--size) / 2) solid var(--color);
    top: calc(var(--size) / -2);
}

.hex:after {
    border-top: calc(var(--size) / 2) solid var(--color);
    bottom: calc(var(--size) / -2);
}

.tile {
    --size: var(--tile-size);
    z-index: 10;
    font-size: var(--tile-size);
}

.player .tile {
    margin: calc(var(--size) + var(--margin)) var(--margin);
}

.tile[draggable="false"] {
    opacity: 30%;
}

.tile span {
    font-size: 50%;
}

.tile object {
    max-height: 60px;
    max-width: 82px;
    z-index: 10;
    pointer-events: none;
}

.cell > .tile {
    margin: 0;
}

.tile:hover {
    box-shadow: 0 0 20px black;
    transition: all .1s ease-in;
}

.hex.can-drop {
    --color: rgba(175, 210, 117, 0.2);
}

.hex.can-drop.active {
    --color: #AFD275;
}

.hex.active {
    --color: #5D001E;
}
