body {
    margin: 1px;
}

.hive {
    display: flex;
    height: 100vh;
    width: 100vw;
    --hex-size: var(--hex-size, 5vh);
    --margin: calc(var(--hex-size) / 12.5);
    --tile-size: calc(var(--hex-size) * .7);
    --hex-offset: -1;
    user-select: none;
}

.players {
    display: flex;
    flex-direction: row;
    border-radius: .4vh;
}

.player {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: .3vh;
    margin: 1px;
}

.player .name {
    display: block;
    background-color: var(--color);
    text-align: center;
    color: white;
    padding: .5vh;
    font-weight: bold;
    border-radius: .4vh 4vh 0 0;
}

.player .tiles {
    margin: .3vh;
}

.hextille {
    background: #1A1A1D;
    display: flex;
    align-items: center;
    border-radius: .4vh;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.hex-row {
    display: flex;
    flex-direction: row
}

.right > .hex-row:nth-child(even), .left > .hex-row:nth-child(odd) {
    margin-left: calc(1.8 * var(--hex-size) / 2);
}

.left > .hex-row:nth-child(even), .right > .hex-row:nth-child(odd) {
    margin-left: calc(1.8 * var(--hex-size) / -2);
}

.hex {
    --width: calc(1.732 * var(--size));
    --color: rgba(0, 0, 0, 0.2);
    width: var(--width);
    height: var(--size);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--color);
}

.hidden {
    width: calc(1.732 * var(--hex-size) + var(--margin));
    background: none;
}

.cell {
    --size: var(--hex-size);
    margin: calc((var(--size) / 2) + var(--margin)) 0 0 var(--margin);
}

.hex:before, .hex:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border: 0 solid transparent;
}

.hex:before, .hex:after {
    border-width: 0 calc(var(--width) / 2) 0;
}

.hex:before {
    border-bottom: calc(var(--size) / 2) solid var(--color);
    top: calc(var(--size) / -2);
}

.hex:after {
    border-top: calc(var(--size) / 2) solid var(--color);
    bottom: calc(var(--size) / -2);
}

.tile {
    --size: var(--tile-size);
    z-index: 10;
    font-size: var(--tile-size);
}

.player .tile {
    margin: calc(var(--size) + var(--margin)) var(--margin);
}

.tile[draggable="false"] {
    opacity: 30%;
}

.tile span {
    font-size: 50%;
}

.tile SVG {
    max-height: calc(1.3 * var(--hex-size));
    max-width: calc(1.5 * var(--hex-size));
    z-index: 10;
    overflow: visible;
    pointer-events: none;
}

.cell > .tile {
    margin: 0;
}

.tile:hover {
    box-shadow: 0 0 1vh black;
    transition: all .1s ease-in;
}

.hex.can-drop {
    --color: rgba(175, 210, 117, 0.2);
}

.hex.can-drop.active {
    --color: #AFD275;
}

.hex.active {
    --color: #5D001E;
}

div.creatures-svg {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 720px) {
    .player {
        flex-direction: row;
    }

    body {
        margin: 0;
    }

    .player.tiles {
        flex-direction: column;
    }

    .player .name {
        align-self: center;
    }

    .hive {
        display: block;
    }

    .players {
        overflow-x: scroll;
        display: block;
        flex-direction: column;
        height: fit-content;
    }

    .player {
        flex-direction: row;
        margin-right: 0;
        width: 100vw;
    }

    .player .tile {
        margin-top: calc(var(--size) - 2 * var(--margin));
    }

    .player .tiles {
        display: inline-flex;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
    }

    .hextille div {
        min-width: fit-content;
        justify-content: flex-start;
        overflow-x: scroll;
        padding-top: 4vh;
        height: 800vh;
    }

    .hex-row {
        display: flex;
    }
}

@media only screen and (any-pointer: coarse) {
    .hex.can-drop {
        --color: #AFD275;
    }
}
